.cities {
  .card-body {
    .cities-table {
      .table-row {
        .table-header {
          .sorting-button {
            max-width: 94%;
          }

          &:nth-of-type(4) {
            width: 15% !important;
          }

          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5) {
            background-color: var(--large-card-cities-table-header-background);
          }

          &:not(:nth-of-type(1)) {
            &.sorted {
              .sorting-button {
                margin: 0 auto;
                display: block;
              }

              .arrow {
                display: block;
              }
            }
          }
        }

        .table-data {
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5) {
            background-color: var(--large-card-cities-table-data-background);
            padding-right: 5px;
          }

          &.daily-score {
            .square {
              width: 28px;
              margin: 0 auto;
              padding: 6px 4px;
              color: #2c2c2c;
              border-radius: 2px;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              -ms-border-radius: 2px;
              -o-border-radius: 2px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              text-decoration: underline var(--text-color-default);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 551px) {
  .cities {
    .card-header {
      .header-textarea {
        justify-content: center;
      }
    }
  }
}

@media only screen and (min-width: 801px) {
  .cities {
    .card-header {
      .header-textarea {
        justify-content: center;
      }

      .legend {
        .legend-items {
          .legend-item {
            .color-square {
              width: 32px;
              height: 32px;
            }

            .text {
              font-size: 14.4px;
            }
          }
        }
      }
    }
  }
}
