.small-card .content {
  .first-section {
    .header {
      .info {
        .tooltiptext {
          right: -100px;
        }
      }
    }

    .total-amount {
      margin-top: 8px;
    }

    .changes {
    }
  }

  .second-section {
  }
}

@media only screen and (min-width: 416px) {
  .small-card .content {
    margin-right: -5px;
    margin-top: 1px;

    .first-section {
      .header {
        .info {
          .tooltiptext {
          }
        }
      }

      .total-amount {
        margin-top: 6px;
      }

      .changes {
      }
    }

    .second-section {
    }
  }
}

@media only screen and (min-width: 992px) {
  .small-card .content {
    margin-top: 0;
    .first-section {
      .header {
        .info {
          .tooltiptext {
          }
        }
      }

      .changes {
      }
    }

    .second-section {
    }
  }
}
