.statistics-small-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  padding: 0.6rem 0.3rem 0.5rem;

  .small-card {
    width: 100%;
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 416px) {
  .statistics-small-cards-container {
    margin-right: -10px;
  }
}

@media only screen and (min-width: 576px) {
  .statistics-small-cards-container {
    margin-right: -17px;
    margin-left: -13px;
  }
}

@media only screen and (min-width: 992px) {
  .statistics-small-cards-container {
    .small-card {
      flex-basis: 33.316%;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .statistics-small-cards-container {
    .small-card {
      flex-basis: 16.66%;
    }
  }
}
