<div class="statistics-small-cards-container">
  <app-verified-patients class="small-card"></app-verified-patients>
  <app-active-patients class="small-card"></app-active-patients>
  <app-severe-patients class="small-card"></app-severe-patients>
  <app-breathalysed-patients class="small-card"></app-breathalysed-patients>
  <app-deceased class="small-card"></app-deceased>
  <app-tests-taken class="small-card"></app-tests-taken>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus quod
  reiciendis magni amet! Repudiandae corrupti, incidunt, at tenetur temporibus
  earum ea suscipit possimus libero omnis quidem adipisci numquam esse illum
  quam praesentium placeat explicabo, recusandae eos expedita maiores est.
  Assumenda, fuga possimus laudantium necessitatibus cumque iusto ut ex culpa
  molestias sunt ipsa odio veritatis aspernatur quibusdam exercitationem fugiat
  consequatur nemo, maiores suscipit doloremque enim. Reprehenderit sint error
  minus. Earum accusamus suscipit est eligendi eos ipsum odio quasi sit delectus
  expedita natus quia, reiciendis nobis tempora sed animi a ad modi voluptatem
  nam omnis voluptatibus perferendis. Neque voluptate aspernatur vel dolores
  ipsum, facere magnam, est quos in aliquam expedita, esse architecto
  dignissimos distinctio vitae. Numquam odio error autem deleniti in, provident
  tempora perspiciatis fugiat modi atque debitis reprehenderit, laudantium eum
  inventore quisquam necessitatibus amet accusantium quod iure. Officia amet ab
  consectetur cumque voluptatum ut maiores recusandae possimus ea perferendis id
  commodi laboriosam dolorum ipsam perspiciatis excepturi, quidem aliquam
  facilis accusamus at quae molestias. Odit nulla unde praesentium earum, velit
  quaerat non laboriosam consequuntur necessitatibus sit quos ipsam nihil. Quam
  ipsa suscipit, placeat dolorem illo aperiam eius. Ipsum ad consectetur
  consequatur repellendus quia sint veritatis, animi harum repudiandae
  voluptatem obcaecati voluptates quam dolorem odit qui necessitatibus vero quas
  quis cupiditate repellat dolore architecto molestiae itaque. Vitae delectus
  obcaecati cum facere temporibus vero enim. In eius necessitatibus enim
  officiis ad maiores id, blanditiis illo, quas vel quibusdam optio maxime
  suscipit. Recusandae similique voluptas at obcaecati minima dolor, eveniet,
  totam exercitationem, fugiat impedit nihil tenetur illum? Officiis iste
  corrupti fuga natus labore? Suscipit quos labore dolore perferendis eius
  asperiores architecto rem consectetur, eaque doloribus nobis nesciunt, quod
  quis, sapiente at expedita quam nam incidunt quasi aspernatur ducimus. Eos
  pariatur deleniti est laborum quis! Voluptas laborum aspernatur nulla sapiente
  illum commodi necessitatibus? Ipsum, distinctio voluptatum. Lorem ipsum dolor
  sit amet consectetur adipisicing elit. Officia, obcaecati eius sit nulla
  deleniti, et tempore possimus nostrum voluptas, blanditiis explicabo ea autem
  adipisci cumque minima! Excepturi, quae. Perferendis fuga, error explicabo
  adipisci perspiciatis doloremque ullam deserunt quasi consectetur quisquam
  rerum esse dolor molestiae excepturi totam laborum non, hic natus beatae
  minima similique dolore vero mollitia. Perferendis cum exercitationem, saepe
  voluptates possimus libero non commodi ratione, debitis quas numquam iusto
  alias quo. Culpa obcaecati quo quos aliquid, eos quae eligendi iusto eaque
  officia nihil voluptatibus numquam? Odit asperiores reiciendis officia natus
  aliquam, sit assumenda? Eaque earum vel asperiores blanditiis alias. Lorem
  ipsum dolor sit amet consectetur adipisicing elit. Assumenda natus fuga nulla
  velit ratione, earum nemo omnis magni qui explicabo, officia ullam? Incidunt
  tempore ab cumque saepe natus ipsam in nostrum asperiores neque praesentium,
  nam assumenda sapiente dolorem nobis sunt doloremque delectus, officia fugiat
  unde aperiam similique at quas alias nulla. Molestiae earum ipsam aliquam quia
  voluptas cumque aliquid ea quidem possimus explicabo. Mollitia at neque sit
  molestiae error, reprehenderit atque adipisci esse? Qui cum voluptas mollitia,
  animi quaerat veniam dignissimos similique, repudiandae, ipsa error inventore.
  Eaque quas ratione repellendus incidunt sit voluptatum corporis, rerum
  sapiente officia, est nulla dolor recusandae dolorum labore consequuntur
  voluptatibus voluptates sed. Numquam, ullam voluptatem. Odit doloribus culpa
  maiores, voluptates nemo architecto delectus accusamus dignissimos numquam vel
  repudiandae dolorem voluptatum placeat atque aut, harum aliquam sunt, quas
  accusantium minima officiis! Deleniti porro modi veritatis quasi rem corrupti
  voluptatibus, natus reiciendis minima, quae, sapiente aliquid. Cum ullam nobis
  aliquam qui illum quaerat, quis rerum aperiam eligendi sint nulla iste facere,
  a consequuntur veniam similique assumenda? Recusandae, eaque dicta temporibus,
  eos iste hic totam voluptatibus molestias labore doloremque earum quae
  delectus fuga ea vitae laboriosam! Deserunt quaerat excepturi voluptates iure
  et harum illo corporis eius autem? Quod nobis est quibusdam consequuntur
  tempore itaque, ex reprehenderit voluptate repellendus hic porro debitis
  recusandae, veritatis tempora! Veniam excepturi illo cupiditate vitae.
  Nesciunt maiores ex repellat consequuntur, adipisci voluptas aut
  necessitatibus harum quos, soluta atque, ipsa placeat voluptatem. Dolor quia
  laboriosam molestias ad incidunt facere, praesentium veritatis ratione aperiam
  voluptatem libero maxime temporibus aliquid mollitia deleniti autem numquam.
  Est quaerat illum nesciunt animi repudiandae quae explicabo omnis expedita
  atque molestiae qui maiores similique cupiditate alias quia rem ad debitis
  tempora culpa natus ipsam, deserunt necessitatibus minima obcaecati.
  Cupiditate doloremque suscipit similique consequatur? Maxime, harum
  repudiandae! Culpa officiis incidunt tempore quia laudantium id, natus
  provident inventore rerum? Non, labore, debitis maxime corrupti facilis
  doloremque neque sed vero sit ullam cupiditate quia excepturi tempore.
  Voluptas voluptate tempore quo inventore atque facilis, expedita nihil
  repellat, quasi nisi alias odit cum ipsa dicta officia sit veritatis
  laboriosam! Vel nemo neque atque incidunt! Enim tempore, beatae obcaecati modi
  veniam nemo inventore, eius delectus veritatis provident itaque commodi rerum
  aperiam reiciendis consectetur, rem maiores non tenetur! Maiores eveniet
  obcaecati nemo sapiente iure molestias, nisi eaque assumenda error, delectus
  optio mollitia. Voluptatum, officiis beatae enim rerum vero doloribus dolore
  quidem esse illum ipsa blanditiis unde minus nulla temporibus!
</div>
