highcharts-chart {
  &.medium-card-highcharts-column-area-container {
    width: calc(100% - 20px);
    height: 265px;
    margin: 15px;
    display: block;
    overflow: hidden;

    .highcharts-container {
      width: 100%;
      padding: 0 !important;
      font-family: Open Sans Hebrew;

      .highcharts-root {
        .highcharts-background {
          fill: var(--highCharts-area-medium-backgroundColor);
        }

        .highcharts-grid {
          .highcharts-grid-line {
            stroke: var(--highCharts-line-medium-gridLineColor);
          }
        }

        .highcharts-axis {
          .highcharts-axis-line {
            stroke: var(--highCharts-line-medium-gridLineColor);
          }

          &.highcharts-xaxis {
            .highcharts-axis-title {
              font-size: 15px;
              fill: var(--text-color-default);
            }
          }

          &.highcharts-yaxis {
            .highcharts-axis-title {
              font-size: 13px;
              font-weight: 500;
              fill: var(--text-color-default);
            }
          }
        }

        .highcharts-crosshair {
          &.no-xcross {
            stroke: transparent;
          }

          &.no-ycross {
            stroke: transparent;
          }
        }

        .highcharts-series-group {
          .highcharts-series {
            &.highcharts-color-0 {
              fill: #1e898a;
              stroke: #1e898a;
            }

            &.highcharts-color-1 {
              fill: #969696;
              stroke: #969696;
            }

            &.highcharts-color-2 {
              fill: #51cbfd;
              stroke: #51cbfd;
            }

            .highcharts-graph {
              stroke-width: 1.6px;
            }
          }

          .highcharts-color-0 {
            width: 10px;
            stroke: #1e898a;
            fill: #1e898a;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
          }

          .highcharts-color-1 {
            width: 10px;
            stroke: #969696;
            fill: #969696;
          }

          .highcharts-color-2 {
            stroke: #51cbfd;
            fill: #51cbfd;
          }

          .highcharts-markers {
            .highcharts-halo {
              display: none;
            }

            .highcharts-point {
              stroke-width: 3px;

              &.highcharts-point-hover {
                stroke-width: 6px;
              }
            }
          }
        }

        .highcharts-axis-labels {
          text {
            fill: var(--text-color-default);
          }

          &.highcharts-xaxis-labels {
            font-size: 12px;
            color: var(--text-color-default);
          }

          &.highcharts-yaxis-labels {
            font-size: 13px;
            color: var(--text-color-default);
          }

          .highcharts-crosshair-label {
            fill: #ffffff;
            stroke: transparent;

            text {
              fill: black;
            }
          }
        }

        .highcharts-credits {
          display: none;
        }

        .highcharts-tooltip {
          display: none;
        }
      }

      .highcharts-tooltip {
        transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
          top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        -webkit-transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
          top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        -moz-transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
          top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        -ms-transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
          top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        -o-transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
          top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;

        span {
          background: #ffffff;
          border-radius: 3px;
          box-shadow: rgba(53, 53, 53, 0.32) 0 0 12px 2px;
          padding: 7px 5px;
          direction: rtl;
          color: #34caf0;
          font-size: 14px;
          font-weight: 700;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
        }
      }
    }
  }

  #tooltip-box-shadow {
    box-shadow: rgba(53, 53, 53, 0.32) 0 0 12px 2px;
  }

  #gradient-0 stop {
    stop-color: #6bcff7;
  }

  #gradient--0 stop[offset="0"] {
    stop-opacity: 1;
  }

  #gradient-0 stop[offset="1"] {
    stop-opacity: 0.2;
  }

  .highcharts-color-2 .highcharts-area {
    fill-opacity: 0.6;
    fill: url(#gradient-0);
  }
}
