highcharts-chart {
  &.small-card-highcharts-container {
    width: calc(100vw - 50px);
    height: 265px;
    margin-top: 25px;
    margin-right: 15px;
    display: block;
    overflow: hidden;

    .highcharts-container {
      width: 100%;
      padding: 0 !important;
      font-family: Open Sans Hebrew;

      .highcharts-root {
        .highcharts-background {
          fill: var(--highCharts-area-small-backgroundColor);
        }

        .highcharts-grid {
          .highcharts-grid-line {
            stroke: var(--highCharts-area-small-gridLineColor);
          }
        }

        .highcharts-axis {
          .highcharts-axis-line {
            stroke: var(--highCharts-area-small-gridLineColor);
          }

          &.highcharts-xaxis {
            .highcharts-axis-title {
              font-size: 15px;
              fill: var(--text-color-default);
            }
          }

          &.highcharts-yaxis {
            .highcharts-axis-title {
              font-size: 13px;
              font-weight: 500;
              fill: var(--text-color-default);
            }
          }
        }

        .highcharts-crosshair {
          stroke: #a39c98;

          &.ycross {
            stroke-dasharray: 4, 4;
          }
        }

        .highcharts-series-group {
          .highcharts-series {
            .highcharts-graph {
              stroke-width: 1.2px;
            }
          }
          .highcharts-color-0 {
            stroke: #34caf0;
          }

          .highcharts-markers {
            .highcharts-halo {
              display: none;
            }
            .highcharts-point {
              stroke-width: 0.7px;
              fill: #34caf0;
              stroke: #34caf0;
              transition-duration: 0.15s;
              transition-timing-function: ease-in-out;

              &.highcharts-point-hover {
                stroke-width: 1px;
              }
            }
          }
        }

        .highcharts-axis-labels {
          text {
            fill: var(--text-color-default);
          }

          &.highcharts-xaxis-labels {
            font-size: 12px;
            color: var(--text-color-default);
          }

          &.highcharts-yaxis-labels {
            font-size: 13px;
            color: var(--text-color-default);

            .highcharts-crosshair-label {
              text {
                transform: translateX(10px);
                -webkit-transform: translateX(10px);
                -moz-transform: translateX(10px);
                -ms-transform: translateX(10px);
                -o-transform: translateX(10px);
              }
            }
          }

          .highcharts-crosshair-label {
            fill: #ffffff;
            stroke: transparent;

            text {
              fill: #000000;
            }
          }
        }

        .highcharts-credits {
          display: none;
        }

        .highcharts-tooltip {
          display: none;
        }
      }

      .highcharts-tooltip {
        transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
          top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        -webkit-transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
          top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        -moz-transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
          top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        -ms-transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
          top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        -o-transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
          top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;

        span {
          background: #ffffff;
          border-radius: 3px;
          box-shadow: rgba(53, 53, 53, 0.32) 0 0 12px 2px;
          padding: 7px 5px;
          direction: rtl;
          color: #34caf0;
          font-size: 14px;
          font-weight: 700;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
        }
      }
    }
  }
}

#tooltip-box-shadow {
  box-shadow: rgba(53, 53, 53, 0.32) 0 0 12px 2px;
}

#gradient-0 stop {
  stop-color: #6ad8ee;
}
#gradient-0 stop[offset="0"] {
  stop-opacity: 0.75;
}
#gradient-0 stop[offset="1"] {
  stop-opacity: 0;
}
#gradient-1 stop {
  stop-color: #ffffff;
}
#gradient-1 stop[offset="0"] {
  stop-opacity: 0;
}
#gradient-1 stop[offset="1"] {
  stop-opacity: 0.25;
}

/* Apply the gradients */
.highcharts-plot-background {
  fill: url(#gradient-1);
}

.highcharts-color-0 .highcharts-area {
  fill-opacity: 1;
  fill: url(#gradient-0);
}

@media only screen and (min-width: 551px) {
  highcharts-chart {
    &.small-card-highcharts-container {
      width: 380px;
      margin-right: 20px !important;
    }
  }
}
