@import "../../../../../../sass/styles.scss";

.statistics-card-medium {
  height: 20rem;
  margin-bottom: 1.3rem;
  background-color: var(--medium-card-background);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;

  .card-header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .header-textarea {
      height: fit-content;
      position: relative;
      margin: auto 0;
      display: flex;
      flex-direction: column;

      .title-container {
        display: flex;
        flex-direction: column;
        font-weight: 700;

        .title {
          line-height: 1.5rem;
          font-size: 15px;
        }
      }

      .update-info {
        width: fit-content;
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 10px;
        background-color: var(--medium-card-background-dark);
        line-height: 14.56px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        .info-icon {
          min-width: 0.9rem;
          width: 0.9rem;
          height: 0.9rem;
          font-size: 0.8rem;
          margin: 0 5px;
          background-color: #14212b;
          color: #fff;
          opacity: 0.85;
          text-align: center;
          line-height: 1.1;
          border-radius: 50%;
        }

        .info-text {
          font-size: 10px;
        }
      }

      .legend {
        min-width: 119px;
        margin-top: 5px;

        .legend-items {
          list-style: none;
          display: flex;

          .legend-item {
            margin: 0 6px;
            display: flex;
            align-items: center;

            .color-circle {
              min-width: 10px;
              height: 10px;
              margin: 0 6px;
              padding: 5px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;

              &.color-1 {
                background-color: #b6ca51;
              }

              &.color-2 {
                background-color: #51cbfd;
              }
            }

            .text {
              font-size: 14.4px;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .range-select-button-container {
      position: relative;
      margin-right: 30px;

      .range-select-button {
        width: 145px;
        margin: 5px 7px 1px 14px;
        padding: 4px 15px 4px 5px;
        border: 1px solid #e4e9f2;
        border-radius: 14.5px;
        -webkit-border-radius: 14.5px;
        -moz-border-radius: 14.5px;
        -ms-border-radius: 14.5px;
        -o-border-radius: 14.5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--medium-card-background-dark);
        outline-style: none;
        transition-duration: 0.15s;
        transition-property: background-color, border-color, border-radius,
          box-shadow, color;
        transition-timing-function: ease-in;
        cursor: pointer;

        &:hover,
        &:active {
          background-color: var(--medium-card-background-darker);
        }

        .text {
          font-size: 12.7px;
          font-weight: 700;
          color: var(--text-color-default);
          white-space: nowrap;
        }

        .icon {
          width: 20px;
          height: 20px;

          &.flip {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
          }

          svg {
            width: 100%;
            height: 100%;
            stroke: #8f9bb3;
          }
        }
      }

      .range-list-items {
        width: 142px;
        max-height: 320px;
        height: fit-content;
        position: absolute;
        margin-top: 5px;
        left: 15px;
        border: 1px solid #e4e9f2;
        background-color: var(--medium-card-background);
        list-style: none;
        overflow: auto;
        z-index: 250;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        .range-item {
          font-size: 12.7px;
          font-weight: 700;
          line-height: 1.5rem;
          padding: 7px 16px;
          cursor: pointer;
          transition: background-color 0.15s ease-in, color 0.15s ease-in;
          -webkit-transition: background-color 0.15s ease-in,
            color 0.15s ease-in;
          -moz-transition: background-color 0.15s ease-in, color 0.15s ease-in;
          -ms-transition: background-color 0.15s ease-in, color 0.15s ease-in;
          -o-transition: background-color 0.15s ease-in, color 0.15s ease-in;

          &:hover,
          &:active {
            background-color: rgba(143, 155, 179, 0.16);
          }
        }
      }
    }
  }

  .card-body {
    width: 100%;
    overflow: auto;
    direction: ltr;
    padding: 1px;
    padding-top: 0;
  }
}

@media only screen and (min-width: 461px) {
  .statistics-card-medium {
    height: 21.75rem;

    .card-header {
      .header-textarea {
        .update-info {
          margin-right: 6px;
          margin-left: 4px;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px;

          .info-text {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 551px) {
  .statistics-card-medium {
    .card-header {
      padding: 16px 24px;

      .header-textarea {
        .title-container {
          flex-grow: 1;
        }

        .update-info {
          margin-right: 10px;
          margin-left: 10px;
          padding-left: 10px;
          line-height: 14.6px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1401px) {
  .statistics-card-medium {
    min-width: 31vw;
    max-width: 31vw;
  }
}
