.small-card .content {
  .first-section {
    .header {
      .info {
        .tooltiptext {
          left: 0;
        }
      }
    }

    .total-amount {
      margin-top: 8px;
    }
  }
}

@media only screen and (min-width: 416px) {
  .small-card .content {
    margin-top: 1px;
    margin-right: -5px;

    .first-section {
      .header {
        .info {
          .tooltiptext {
            left: 0;
          }
        }
      }

      .total-amount {
        margin-top: 8px;
      }
    }
  }
}

@media only screen and (min-width: 493px) {
  .small-card .content {
    .first-section {
      .total-amount {
        margin-top: 6px;
      }
    }
  }
}

@media only screen and (min-width: 680px) {
  .small-card {
    .content {
      .first-section {
        .header {
          .info {
            .tooltiptext {
              left: -100px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .small-card .content {
    margin-top: 0;
    .first-section {
      .total-amount {
        margin-top: 8px;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .small-card .content {
    .first-section {
      .header {
        .info {
          .tooltiptext {
            left: 0;
          }
        }
      }
    }
  }
}
