<div class="small-card" [ngClass]="{ 'graph-expanded': graphExpanded }">
  <div class="content">
    <div class="first-section">
      <div class="header">
        <div class="title">מונשמים</div>
        <div class="info">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            class="eva eva-info"
            fill="currentColor"
          >
            <g data-name="Layer 2">
              <g data-name="info">
                <rect
                  width="24"
                  height="24"
                  transform="rotate(180 12 12)"
                  opacity="0"
                ></rect>
                <path
                  d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm1 14a1 1 0 0 1-2 0v-5a1 1 0 0 1 2 0zm-1-7a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"
                ></path>
              </g>
            </g>
          </svg>
          <div class="tooltiptext">
            סך החולים בנגיף COVID-19 המחוברים למכונת הנשמה בבתי החולים
          </div>
        </div>
      </div>
      <h5 class="total-amount">{{ 116 | number }}</h5>
      <div class="changes">
        <span class="amount">{{ 1 | number }}+</span>
        <span class="text">מחצות</span>
      </div>
    </div>
    <div class="second-section">
      <div class="graph" (click)="expandGraph()">
        <div class="graph-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            class="eva eva-bar-chart-2"
            fill="currentColor"
          >
            <g data-name="Layer 2">
              <g data-name="bar-chart-2">
                <rect
                  width="24"
                  height="24"
                  transform="rotate(90 12 12)"
                  opacity="0"
                ></rect>
                <path
                  d="M12 8a1 1 0 0 0-1 1v11a1 1 0 0 0 2 0V9a1 1 0 0 0-1-1z"
                ></path>
                <path
                  d="M19 4a1 1 0 0 0-1 1v15a1 1 0 0 0 2 0V5a1 1 0 0 0-1-1z"
                ></path>
                <path
                  d="M5 12a1 1 0 0 0-1 1v7a1 1 0 0 0 2 0v-7a1 1 0 0 0-1-1z"
                ></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="graph-label">מגמת שינוי יומית</div>
        <div class="graph-window">
          <div class="arrow"></div>
          <h6 class="graph-title">מונשמים - שינוי יומי</h6>
        </div>
      </div>
    </div>
  </div>
</div>
