<div class="side-nav-container" [ngClass]="{ expanded: expanded }">
  <ul class="menu-items">
    <li class="item selected">
      <a href="" class="link" title="מצב כללי">
        <span class="icon">
          <svg
            width="24px"
            height="25px"
            viewBox="0 0 24 25"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="עומסים"
                transform="translate(-1388.000000, -158.000000)"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  d="M1398,171.5 L1398,182 L1389,182 L1389,171.5 L1398,171.5 Z M1411,174 L1411,182 L1402.5,182 L1402.5,174 L1411,174 Z M1411,159 L1411,169.5 L1402.5,169.5 L1402.5,159 L1411,159 Z M1398,159 L1398,167 L1389,167 L1389,159 L1398,159 Z"
                  id="Combined-Shape"
                ></path>
              </g>
            </g>
          </svg>
        </span>
        <span class="title">מצב כללי</span>
      </a>
    </li>
    <li class="item">
      <a href="" class="link" title="אודות">
        <span class="title">אודות</span>
      </a>
    </li>
    <li class="item">
      <a href="" class="link" title="תנאי שימוש">
        <span class="title">תנאי שימוש</span>
      </a>
    </li>
    <li class="item">
      <a href="" class="link" title="מדריך למשתמש">
        <span class="title">מדריך למשתמש</span>
      </a>
    </li>
  </ul>
</div>
