.small-card {
  .content {
    .first-section {
      .header {
        .info {
          .tooltiptext {
            left: 0;
          }
        }
      }
    }

    .second-section {
      .patients-per-location {
        display: flex;

        .item {
          font-size: 0.7rem;
          margin-left: 10px;

          .amount {
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 416px) {
  .small-card {
    padding-bottom: 4px;

    .content {
      .second-section {
        .patients-per-location {
          .item {
            font-size: 0.82rem;
            margin-left: 20px;

            .amount {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 450px) {
  .small-card {
    padding-bottom: 16px;
  }
}

@media only screen and (min-width: 497px) {
  .small-card {
    .content {
      .first-section {
        .header {
          .info {
            .tooltiptext {
              left: -100px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .small-card .content {
    .first-section {
      .header {
        .info {
          .tooltiptext {
            left: -110px;
          }
        }
      }
    }
  }
}
